* {
	padding: 0;
	margin: 0;
	color: #262626;
	font-size: 1em;
	line-height: 1.5em;
}

body {
	background-color:#ffffff;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 68.75%;

}

td {
	font-size: 12px;
	font-family: Arial, Helvetica, Sans-Serif;	
}

h1 {
	font-size: 1.9em;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
	font-weight: normal;
	color: #009ee0;
	text-transform: uppercase;
	margin: 21px 0px 12px 0px;
}

h2 {
	font-size: 1em;
	font-weight: bold;
	color: #009ee0;
}


h3 {
	font-size: 1em;
	color: #2d5988;
	margin: 22px 0px 12px 0px;
}


p,a {
	line-height: 1.5em;
}

a:link {color: #0090dc;	 text-decoration: underline;}
a:visited {color: #0090dc; text-decoration: underline;}
a:active {color: #0090dc; text-decoration: underline;}
a:hover {color: #df4a2e; text-decoration: underline;}

ul {
	margin: 8px 0px 0px 17px;
	list-style-image: url(../images/ul.gif); 
	list-style-position: outside;
	line-height: 1.6em;
}

li {
	margin-bottom: 9px;
}

ol {
	margin: 8px 0px 0px 17px;
	list-style-position: outside;
	line-height: 1.6em;
}
