html {
	height: 100%;
	max-height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	background: #fff;
	font-size: 11px;
	font-family: Arial;
	color: #262626;
	/* hide overflow: hidden from IE5/Mac */
	/* \*/
	overflow: hidden;
	/* */
}


a img {
	border: 0;
}


p {
	padding:0px;
	margin:0px;
}


body {
	height:100%;
	max-height:100%;
	overflow:hidden;
	padding:0;
	margin:0;
	border:0;
	background-color:#f2f2f2;
	
}

.tree_arr {
	padding: 3px 0 0 0;
	width: 10px;
}


.tree_icon {
	padding: 0 0 0 5px;
	height: 20px;
}

.navi_tree a, .navi_tree a:link, .navi_tree a:visited, .navi_tree a:focus {
	color: #262626;
	padding: 0 4px 0 4px;
	text-decoration: none;
	font-size: 11px;
}
		
.navi_tree a:hover {
	background-color:#b8d2eb;
	color: #262626;
	text-decoration: none;
	font-size: 11px;
}
	
.navi_tree a:active {
	color: #262626;
	text-decoration: none;
	font-size: 11px;
}

* html .navi_tree a, .navi_tree a:link, .navi_tree a:visited {
	padding: 2px 4px 2px 4px;
	height: 18px;
}



#content {
	position:absolute;
	z-index:1;
	top: 76px;
	bottom:0px;
	left:220px;
	height:54px;
	right:0;
	/*border-left: 1px solid #d4d5d4;*/
	background-color:#f2f2f2;
	padding-left: 5px;
	background-image: url('images/bg_content.gif');
	background-repeat: repeat;

}

* html #content {
	top: 0;
	left: 0;
	bottom: 0;
	margin-top: 0;
	height: 54px;
	width: 100%;
	border-top:76px solid #fff;
	border-left:220px solid #f2f2f2;
}

	#content_tab_head {
		left:0;
		right:0;
		height:54px;
		background-image: url('images/bg_content_tab_header.gif');
		background-repeat: repeat;
	}
	
	
		#main_buttons {
			clear:both;
			float:left;
			padding: 2px 6px 0px 8px;
			margin: 10px 5px 0px 0px;
			border-top: 1px solid #d4d5d4;
			border-right: 1px solid #d4d5d4;
			background-color:#fff;
			width: 66px;	
		}
		
		* html #main_buttons {
			width: 75px;
		}
		
		
		.main_button span, .main_button a, .main_button a:link, .main_button a:visited {
			float: left;
			width: 18px;
			height: 19px;
			padding: 2px 2px 1px 2px;
		}
		
		
		* html .main_button a, * html .main_button a:link, * html .main_button a:visited {
			float: left;
			width: 22px;
			height: 22px;
			padding: 2px 2px 1px 2px;
		}

			.main_button a:hover {
				background-color:#c7dbef;		
			}
		
		
		
		
		.tab a, .tab a:link, .tab a:visited {
			float:left;
			padding: 0px 11px 0px 3px;
			margin: 10px 2px 0px 0px;
			border: 1px solid #d4d5d4;
			color: #262626;
			background-color:#f2f2f2;
			line-height: 210%;
			text-decoration: none;
		}
		
			.tab a:hover {
				border-bottom: 1px solid #fff;
				background-color:#fff;
				color: #262626;
			}
		
		.tab p {
			float:left;
			padding: 0px 11px 0px 15px;
			margin: 10px 2px 0px 0px;
			border: none;
			color: #262626;
			background-color:#f2f2f2;
			line-height: 210%;
			text-decoration: none;
			font-weight:bolder;
		}
		
.tab_aktiv a, .tab_aktiv a:link, .tab_aktiv a:visited, .tab_aktiv a:hover {
	float:left;
	padding: 0px 11px 0px 3px;
	margin: 10px 2px 0px 0px;
	border: 1px solid #d4d5d4;
	color: #262626;
	background-color:#f2f2f2;
	line-height: 210%;
	text-decoration: none;		
	border-bottom: 1px solid #fff;
	background-color:#fff;
	color: #262626;
}
		
.tab_img {
	float:left; margin-right: 3px;		
	}



.content_tab {
	overflow: auto;
	position:absolute;
	z-index:0;
	top: 130px;
	bottom:0px;
	left:224px;
	padding: 9px 9px 10px 10px;
	right:0;
	background-color:#fff;
	background-image: url('images/bg_content_tab.gif');
	background-repeat: repeat;
}
	
* html .content_tab {
	top: 0;
	left: 0;
	bottom: 0;
	margin-top: 0;
	height: 100%;
	max-height: 100%;
	width: 100%;
	border-top: 130px solid #fff;
	border-left: 224px solid #f2f2f2;
}


.title {
	font-weight:bold;
}

.title a, .title a:link, .title a:visited {
	color:#8f8f8f;
	font-weight:normal;
	text-decoration:none;
}

.title a:hover {
	text-decoration:underline;
	color:#3974b1;
}
		
		
.wrap {
	clear:both;
	padding: 2px 2px 2px 2px;
	margin: 10px 5px 0px 0px;
	border: 1px solid #d4d5d4;
	background-color:#fff;
	height: 28px;
	
}

.wrap_button a, .wrap_button a:link, .wrap_button a:visited {
	float:left;
	padding: 5px 8px 4px 5px;
	color: #262626;
	background-color:#fff;
	line-height: 165%;
	text-decoration: none;
	border: 1px solid #d4d5d4;
}

.wrap_button a:hover {
	background-color:#f2f2f2;
	text-decoration:underline;
	color:#3974b1;
}
	

	.table td {
		padding: 4px 11px 4px 5px;
		border-left: 1px solid #d4d5d4;
		font-size: 11px;
	}
	
	.clear_table td {
		
		border-left: 0;
	}


#head {
	position:absolute;
	margin:0;
	top: 0;
	left:0;
	display:block;
	width: 100%;
	height: 75px;
	z-index:7;
	overflow:hidden;
	vertical-align:middle;
	background-image: url('images/bg_logo_acid.21.gif');
	background-repeat: no-repeat;
	background-position: 100% 0%;
	border-bottom: 1px solid #d4d5d4;
	background-color:#fff;
	
}

* html #head {
	height: 76px;
}

	.head_text {
		float:left;
		padding: 10px 10px 0px 9px;
		color:#8f8f8f;
	}



.navi a, .navi a:link, .navi a:visited {
	float: left;
	width: 20px;
	height: 20px;
	padding: 7px 6px 6px 7px;
}

	.navi a:hover {
		background-image: url('images/bg_buttons.gif');
		background-repeat: no-repeat;
	}


.navi_aktiv a, .navi_aktiv a:link, .navi_aktiv a:visited, navi_aktiv a:hover {
	float: left;
	width: 20px;
	height: 20px;
	padding: 7px 6px 6px 7px;
	background-image: url('images/bg_buttons.gif');
	background-repeat: no-repeat;
}



#navi {
	position: absolute;
	left: 0;
	top: 75px;
	width: 219px;
	z-index: 6;
	bottom: 0;
	height: 64px;
	border-right: 1px solid #d4d5d4;
	background-color: #fff;
}

* html #navi {
	height: 63px;
	width: 220px;
	top: 0px;
	border-top: 75px solid #fff;
}


	#navi_head {
		left:0;
		right:0;
		height:23px;
		background-image: url('images/bg_navi.gif');
		background-repeat: no-repeat;
		background-color: #fff;
	}

	#navi_tree {
		overflow: auto;
		position:absolute;
		width: 219px;
		z-index:5;
		top: 139px;
		bottom:0;
		left:0;
		right:0;
		background-color:#fff;
		border-right: 1px solid #d4d5d4;
	}
	
	* html #navi_tree {
		width:220px;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin-top:0;
		height:100%;
		max-height:100%;
		border-top: 139px solid #fff;
	}

a, a:link, a:hover, a:visited {
	color:#000000;
	font-weight:normal;
	text-decoration:none;
}
a:hover {
	color: #3974b1;
	text-decoration:underline;
}

input,select,textarea {
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	width:275px;
	
}

.pageselect {
	height: 17px;
	font-size: 10px;
	width: 24px;
	margin-top: 3px;
	text-align: center; border: 1px solid #cbcbcb;
}

/*.pageselector {
	padding: 2px 2px 2px 2px;
	margin: 10px 5px 0px 0px;
	border: 1px solid #d4d5d4;
	background-color:#fff;
	height: 28px;
}*/